# Contents

This notebook contains all the basic steps for data challenge.

In [4]:
# Load supporting packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
import missingno as msno
#import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
# Set some parameters for matplotlib
plt.rcParams.update({'font.size': 14, 'figure.figsize': (12,12)})

In [ ]:
# Load the data/necessary files

df = pd.read_csv('')

In [ ]:
def get_date_month(df, col):
    df[col.split('_')[0] + '_month'] = [dd.month for dd in pd.DatetimeIndex(df[col].values)]
    df[col.split('_')[0] + '_day'] = [dd.day for dd in pd.DatetimeIndex(df[col].values)]
    return df

In [ ]:
for col in ['signup_time', 'purchase_time']:
    get_date_month(df_fraud_data, col)

In [28]:
data = pd.read_csv('sample.txt')

In [33]:
data.set_index(['Country'])

              Poduct   Price
Country
USA            Wheat   15000
USA             Beef    2850
Indonesia       Rice   11000
Mexico      Avocados    8780
Mexico      Tomatoes    1908
Sri Lanka        Tea    4520
Columbia      Coffee    9875

The following will give the total sum of the prices for each country. Group-by over the countries and sum (or mean, will give the average).

In [34]:
data.groupby(['Country']).sum()

            Price
Country
Columbia     9875
Indonesia   11000
Mexico      10688
Sri Lanka    4520
USA         17850

In [ ]:
columns = ['source', 'browser', 'sex']

f, ax = plt.subplots(1, 3, figsize=(15,5))
for i, col in enumerate(columns):   
   # PERCENT COLUMN CALCULATION
    df[col+'_pct'] = df.groupby(['class', col])[col]\
                                   .transform(lambda x: len(x)) / len(df)

    #plt.subplot(8, 2, i+1)   
    sns.barplot(x=col, y=col+'_pct', hue='class', data=df, ax = ax[i])\
          .set(xlabel=col, ylabel='Percent')